.bag {
    color: $black;
    font-family: $fmain;
}
.bag-icon {
    position: relative;
}
.bag-icon-image {
    width: 25px;
}
.bag-inside {
    position: absolute;
    bottom: 4px;
    left: 7px;
    font-size: 14px;
    font-weight: bold;
    z-index: -2;
    color: black;
    font-family: $fmain;
}
.quantity {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: -20px;
    button {
        font-size: 19px;
        padding:0 10px;
        margin: 0 10px 10px;
        border-radius: 5px;
        color: white;
        background-color: $brown;
    }
    button:hover {
        transform: scale(.97);
        transition: .5s;
    }
    span {
        font-weight: bold;
    }
}

.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(130, 59, 59, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 1s all;
    overflow: scroll;

    &__content {
        padding: 20px;
        border-radius: 10px;
        background-color: $black;
        height: 700px;
        width: 30vw;
        transform: scale(.5);
        transition: 1s all;
        color: white;
        overflow: scroll;
        h2 {
            text-transform: uppercase;
            font-size: 20px;

        }
        p {
            font-size: 16px;
        }
    }
}
.modal.activated{
    opacity: 1;
    pointer-events: all;
    z-index: 5;
}
.modal__content.activated {
    transform: scale(1);
}

.bag-items, .bag-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
    padding: 20px;
    line-height: 200%;
}

.bag-items {
    background-color: $brown;
    p {
        font-size: 18px;
    }
}
.bag-trash {
    height: 20px;
    width: 20px;
    justify-self: center;
    align-self: center;
}
.bag-info {
    h5 {
        font-size: 18px;
    }
    p {
        font-size: 18px;
    }
}

.bag-checkout button {
        font-size: 20px;
        color: white;
        background-color: $brown;
        border-radius: 5px;
        padding: 5px 20px;
        margin-top: auto;
        margin-bottom: 20px;
}

.thanks {
    color: white;
    text-align: center;
    padding: 20px;
    margin: 10px;
    display: none;
    background-color: $dark;

    h5, p {
        font-size: 20px;
    }
}
.showThanks {
    display: block;
}



@media all and (max-width: 1024px) {
    .quantity {
        button {
            font-size: 16px;
            padding:0 8px;
        }
    }
    
    .modal {
        &__content {
            width: 60vw;
            height: 60vh;
        }
    }
    
    .bag-checkout button {
            font-size: 20px;
            color: white;
            background-color: $brown;
            border-radius: 5px;
            padding: 5px 20px;
            margin-top: auto;
            margin-bottom: 20px;
    }

}

@media all and (max-width: 450px){
    .bag-icon {
        position: relative;
    }
    .bag-icon-image {
        width: 23px;
    }
    
    .modal {
        &__content {
            padding: 15px;
            height: 60vh;
            width: 80vw;
            h2 {
                font-size: 17px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    .bag-items, .bag-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 13px 10px;
        padding: 5px;
    }
    
    .bag-items {
        background-color: $brown;
        p {
            font-size: 13px;
        }
    }
    .bag-trash {
        height: 17px;
        width: 17px;
        justify-self: center;
        align-self: center;
    }
    .bag-info {
        h5 {
            font-size: 16px;
        }
        p {
            font-size: 15px;
        }
    }
    
    .bag-checkout button {
            font-size: 16px;
            margin-bottom: 10px;
    }
    
    .thanks {
        padding: 10px;
    
        h5, p {
            font-size: 15px;
        }
    }
}
