.filter {
    display: flex;
    justify-content: space-around;
    background-color: $light;
    padding: 30px;
    font-family: $fmain;
    cursor: pointer;
    &__items {
        font-size: 20px;
        font-weight: normal;
        padding: 5px 20px;
    }
    &__active {
        background-color: $brown;
        color: $white;
        padding: 5px 20px;
        font-size: 17px;
    }
    &__hover:hover {
        background-color: $dark;
        color: $brown;
        padding: 5px 20px;
        font-size: 17px;

    }
}

@media all and (max-width: 1024px) {
    .filter {
        padding: 25px;
        &__items {
            font-size: 18px;
            font-weight: normal;
            padding: 5px 15px;
        }
        &__active {
            padding: 5px 15px;
            font-size: 15px;
        }
        &__hover:hover {
            padding: 5px 15px;
            font-size: 15px;
        }
    }
}

@media all and (max-width: 600px) {
    .filter {
        padding: 15px;
        &__items {
            font-size: 14px;
            font-weight: normal;
            padding: 5px 10px;
        }
        &__active {
            padding: 2px 10px;
            font-size: 13px;
        }
        &__hover:hover {
            padding: 5px 15px;
            font-size: 14px;
        }
    }
}


@media all and (max-width: 450px)  {
    .filter {
        padding: 15px;
        cursor: pointer;
        &__items {
            font-size: 15px;
            font-weight: normal;
            padding: 5px;
        }
        &__active {
            padding: 5px;
            font-size: 13px;
        }
        &__hover:hover {
            padding: 5px;
            font-size: 15px;
        }
    }
}
