.info {
    display: flex;
    justify-content: space-around;
    margin: 70px 0;
    text-align: right;
    background-color: $white;
}
.info__block {
    width: 300px;
    height: 200px;
    border: $brown 4px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: $fmain;
    font-size: 30px;
    position: relative;


    &__par1 {
        width: 250px;
        padding: 15px;

    }
    &__par1::before {
        content: "";
        background-image: url(../icons/leaf.png);
        background-size: contain;
        background-position: center;
        height: 70px;
        width: 70px;
        display: inline-block; 
        position: absolute;
        right: 140px;
        top: 45px;
    }

    &__par2 {
        width: 150px;
        padding: 15px;
    }

    &__par2::before {
        content: "";
        background-image: url(../icons/free-30-instagram-stories-icons23_122570.png);
        background-size: contain;
        background-position: center;
        height: 50px;
        width: 50px;
        display: inline-block; 
        position: absolute;
        right: 142px;
        top: 58px;
    }
    &__par3 {
        width: 150px;
        padding: 15px;
    }

    &__par3::before {
        content: "";
        background-image: url(../icons/leaf_thу.png);
        background-size: contain;
        background-position: center;
        height: 70px;
        width: 70px;
        display: inline-block; 
        position: absolute;
        right: 140px;
        top: 54px;
    }
}

@media all and (max-width: 1024px){
    .info {
        margin: 50px 0;
    }
    .info__block {
        width: 200px;
        height: 150px;
        font-size: 20px;
    }
    .info__block__par1 {
        width: 150px;
        padding: 10px;
    }
    .info__block__par2, .info__block__par3 {
        width: 100px;
        padding: 10px;
    }
    .info__block__par1::before {
        height: 42px;
        width: 42px;
        right: 103px;
        top: 32px;
    } 
    .info__block__par2::before  {
        height: 35px;
        width: 35px;
        right: 110px;
        top: 41px;
    }
    .info__block__par3::before  {
        height: 50px;
        width: 50px;
        right: 100px;
        top: 35px;
    }
}

@media all and (max-width: 600px){
    .info__block {
        width: 150px;
        height: 120px;
        font-size: 17px;
    }
    .info__block__par1::before {
        height: 35px;
        width: 35px;
        right: 89px;
        top: 25px;
    } 
    .info__block__par2::before  {
        height: 30px;
        width: 30px;
        right: 90px;
        top: 29px;
    }
    .info__block__par3::before  {
        height: 35px;
        width: 35px;
        right: 88px;
        top: 26px;
    }
}


@media all and (max-width: 450px){
    .info {
        flex-wrap: wrap;
        margin: 30px 0;

    }
    .info__block {
        border: $brown 2px solid;
        width: 250px;
        height: 150px;
        font-size: 23px;
        margin-bottom: 10px;
    }
    .info__block__par1 {
        width: 180px;
        padding: 10px;
    }
    .info__block__par2, .info__block__par3 {
        width: 150px;
        padding: 10px;
    }
    .info__block__par1::before {
        height: 50px;
        width: 50px;
        right: 174px;
        top: 43px;
    } 
    .info__block__par2::before  {
        height: 40px;
        width: 40px;
        right: 162px;
        top: 47px;
    }
    .info__block__par3::before  {
        height: 50px;
        width: 50px;
        right: 154px;
        top: 42px;
    }
}



