.all-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


.item {
    background-color: $dark;
    margin: 15px;
    width: 300px;
    height: 580px;
    font-family: $fmain;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 150%;

    &__image {
        margin: 0 30px 10px;
        width: 300px;

    }
    &__name {
        font-weight: bold;
    }

    &__desc {
        font-weight: 500;
    }

    &__price {
        font-weight: bold;

    }
    &__bag {
        font-size: 18px;
        color: white;
        background-color: $brown;
        border-radius: 10px;
        padding: 5px 20px;
    }
    &__bag:hover {
        transform: scale(.97);
        transition: .2s;
        font-size: 16px;

    }
}
