@import "variables";
@import "null";
@import "bag";
@import "categories";
@import "footer";
@import "header";
@import "info";
@import "items";
@import "navbar";



.App {
    text-align: center;
  }

.ads {
  display: flex;
  justify-content: center;
  background-color: $dark;
}
.ads__par {
  text-align: center;
  color: $white;
  font-family: $fcursive;
  font-size: 25px;
  padding: 10px;
}

@media all and (max-width: 600px){
  .ads__par {
    text-align: center;
    color: $white;
    font-family: $fcursive;
    font-size: 17px;
    padding: 10px;
  }
}

